.portfolio-list {
    width: 100%;
    margin: 0 auto;
    margin-top: 110px;
    padding: 0 10px;
    padding-bottom: 485px;

    @include media ('>940px','<=1240px') {
        padding-bottom: 700px;
    }
}

.portfolio-item {
    position: relative;

    height: 402px;
    &:before {
        position: absolute;
        z-index: 10;
        top: -48px;
        left: 50%;

        width: 2px;
        height: 200px;

        content: '';
        transform: translate(-50%);

        background-color: $color_grey;

        @include media ('<=phone') {
            left: 10%;

            height: 147px;
        }
        @include media ('>phone','<=tablet') {
            left: 12%;
        }
    }
}

.portfolio-item-ui {
    top: 154px;
    &:before {
        top: -126px;

        @include media ('<=phone') {
            top: -75px;
            left: 90%;
        }
        @include media ('>phone','<=tablet') {
            left: 88%;
        }
    }
}

.portfolio-item-blocks {
    top: 343px;

    display: flex;
    flex-direction: row;

    height: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
    @include media ('<=tablet') {
        flex-direction: column;

        height: 100%;
    }
    @include media ('<=940px') {
        align-items: center;
    }
    &:before {
        top: -137px;

        @include media ('<=940px') {
            top: 342px;
        }
        @include media ('>940px','<=1240px') {
            top: 231px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

.gallery {
    width: $size_inner_div;
    margin: 129px auto 89px;

    @include media ('<=1365px') {
        width: 80vw;
    }
}

.gallery-item {
    height: 100%;
    margin-top: 85px;
    &:hover {
        width: 100%;
        height: 100%;
        margin-top: 119px;
        padding-top: 122px;
        padding-bottom: 56px;

        transition: 1s;

        border-radius: 10px;
        background-color: $color_light_grey;
        & .gallery-title {
            margin-bottom: 20px;

            letter-spacing: -.8px;

            color: $color_purple;
        }
        & .details-link {
            position: relative;

            visibility: visible;

            width: 146px;
            height: 20px;

            font-size: 20px;
            font-weight: normal;
        }
        & .gallery-hover-shape {
            visibility: hidden;
        }
    }
}
