/* ==========================================================================
   Logos
   ========================================================================== */

.header-logo {
    display: block;

    height: 35px;
    margin-top: 88px;

   	width: 120px;
    background-image:  url(../img/logo.png);
}
