/* ==========================================================================
   Navigations
   ========================================================================== */

.header-nav {
    display: flex;
    flex-direction: row;

    width: 420px;
    margin-top: 95px;

    justify-content: space-between;
    @include media ('<=tablet') {
        display: none;
        &.opened {
            position: fixed;
            z-index: 10;
            top: 144px;
            left: 0;
            height: 100vh;

            display: block;

            width: 100%;
            padding: 10px 0;

            background-color: rgba(0,0,0,0.9);
        }
    }
}

.header-nav-item {
    @include media ('<=tablet') {
        position: relative;
        left: 66px;

        padding: 13px 0;
    }
}

.nav-link {
    font-size: 18px;
    font-weight: bold;

    color: $color_white;
    &:hover {
        color: $color_light_purple;
    }

    @include media ('<=tablet') {
        font-size: 28px;
    }
}

.active {
    position: relative;
    top: -3px;

    font-size: 22px;

    color: $color_purple;

    @include media ('<=tablet') {
        font-size: 32px;
    }
}
