.socials {
    position: absolute;
    top: 50%;
    right: 0;

    display: flex;
    flex-direction: row;

    width: 175px;

    transform: translateY(-50%);

    justify-content: space-between;
    @include media ('<=phone') {
        top: -60px;

        transform: translate(-37%);
    }
    .footer & {
        @include media ('<=phone') {
            top: 0;
            left: 50%;

            transform: translate(-50%);
        }
    }
    .footer-portfolio & {
        top: 95px;
        left: 50%;

        transform: translate(-50%);
    }
    .footer-showcase & {
        top: 18px;
    }
}

.socials-link {
    font-size: 18px;

    color: $color_purple;
    &:hover {
        color: $color_light_purple;
    }
}
