.typed-cursor {
    font-size: 140px;
    font-weight: 100;

    -webkit-animation: blink .7s infinite;
       -moz-animation: blink .7s infinite;
            animation: blink .7s infinite;

    opacity: 1;
    color: $color_purple;
    @include media ('<=phone') {
        font-size: 46px;
    }
    @include media ('>phone','<=tablet') {
        font-size: 92px;
    }
}