/* ==========================================================================
   Icons
   ========================================================================== */

/* styles for fontello icons
.o-icon {
    font-family: $font_ico;
    line-height: 1;

    @extend %helper--inline-flex--center--center;
    &:before {
        margin: 0;

        line-height: 1;

        @extend %helper--inline-flex--center--center;
    }
}
*/

.icon-right-small {
    right: 0;
}

.icon-down-small {
    .load-more-link & {
        position: absolute;
        bottom: -46px;
        left: 50%;

        transform: translate(-50%);
    }
    .showcase-link & {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translate(-50%);
    }
}
