.as-title {
    position: relative;

    margin-top: 212px;

    font-size: 80px;
    font-weight: bold;

    text-align: center;

    color: $color_white;
    &:before {
        position: absolute;
        bottom: 128px;
        left: 50%;

        width: 2px;
        height: 72px;

        content: '';
        transform: translate(-50%);

        background-color: $color_grey;
    }
    &:after {
        position: absolute;
        bottom: -40px;
        left: 50%;

        content: url(../img/arrow.png);
        transform: translate(-50%);
    }
}

.as-subtitle {
    width: $size_inner_as;
    margin: 140px auto 0;

    font-size: 40px;
    font-weight: bold;

    text-align: center;

    color: $color_white;
}

.as-description {
    width: $size_inner_as;
    margin: 110px auto 0;
    margin-top: 110px;

    font-size: 40px;

    text-align: center;

    color: $color_white;
}
