.bg {
    max-width: 1600px;
    height: 100%;
    margin: 162px auto;

    border-radius: 15px;
    background-color: $color_black;
    @include media ('<=tablet') {
        margin: 80px auto;
    }
}

.inner {
    width: $size_inner;
    margin: 0 auto;
    @include media ('<=phone') {
        width: 300px;
    }
    @include media ('>phone','<=tablet') {
        width: 680px;
    }
    @include media ('>tablet','<=1300px') {
        width: 1024px;
    }
    @include media ('>1300px','<=1366px') {
        width: 1280px;
    }
}

.gallery-inner {
    width: $size_inner_text;
    margin: 0 auto;
    @include media ('<=phone') {
        width: 280px;
    }
    @include media ('>phone','<=tablet') {
        width: 620px;
    }
    @include media ('>tablet','<=1300px') {
        width: 920px;
    }

}

.alt-text {
    display: block;

    text-indent: -9998em;
}
