/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
	Index.html
   ========================================================================== */

.footer-index {
    margin-top: 236px;
}

.showcase-link {
    position: relative;

    font-size: 25px;

    color: $color_white;
    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;

        content: url(../img/arrow.png);
        transform: translate(-50%);
    }
}

.footer-line {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 75px;
    margin-bottom: 65px;

    justify-content: space-between;
}

/* ==========================================================================
	showcase.html
   ========================================================================== */

.footer-showcase {
    margin-top: 58px;
}

/* ==========================================================================
	portfolio.html
   ========================================================================== */

.footer-portfolio {
    position: relative;

    width: 412px;
    height: 114px;
    margin: 0 auto;

    text-align: center;
}

.portfolio-share {
    font-size: 24px;
    font-weight: bold;

    text-transform: uppercase;

    color: $color_white;
}

/* ==========================================================================
	about-us.html
   ========================================================================== */

.footer {
    position: relative;

    width: 175px;
    margin: 124px auto;
    padding-bottom: 124px;
}
