.hero {
    margin-top: 235px;

    font-weight: bold;

    @include media ('<=phone') {
        margin-top: 178px;
    }
}

.hero-subtitle {
    font-size: 50px;

    color: $color_white;

    @include media ('<=phone') {
        font-size: 38px;
    }
}

.hero-title {
    position: relative;
    top: -8px;

    display: inline-block;
    //width: 890px;

    height: 100px;

    font-size: 75px;
    line-height: 96px;

    letter-spacing: -3.2px;

    color: $color_white;

    @include media ('<=phone') {
        top: 10px;

        width: 77%;
        height: 154px;

        font-size: 46px;
        line-height: 45px;
    }
    @include media ('>phone','<=tablet') {
        width: 382px;
        height: 278px;
    }
    &:after {
        position: absolute;
        bottom: -25px;
        left: 35px;

        width: 20px;
        height: 2px;

        content: '';

        background-color: $color_white;
    }
}

.hero-title-span {
    color: $color_purple;
}

.hero-description {
    margin-top: 29px;

    font-size: 19px;

    color: $color_purple;

    @include media ('<=tablet') {
        position: absolute;
        //top: 70px;
        bottom: 0;
    }
}
