.portfolio {
    padding-bottom: 45px;
}

.portfolio-title {
    position: relative;
    left: 16px;

    font-size: 80px;
    font-weight: bold;

    text-align: center;
    letter-spacing: 41px;
    text-transform: uppercase;

    color: $color_purple;

    @include media ('<=phone') {
        font-size: 47px;

        letter-spacing: 19px;
        width: 96%;
    }
}

.portfolio-subtitle {
    margin-top: 15px;

    font-size: 20px;
    font-weight: lighter;

    text-align: center;
    letter-spacing: -1px;

    color: $color_white;
}
