.portfolio {
    padding-bottom: 45px;
}

.portfolio-bg {
    position: relative;

    width: 95%;
    margin: 122px auto 0;
    padding: 68px 0 194px;

    background: linear-gradient(to bottom, #000 0%,#2c2c2c 55%,#2e2e2e 100%);

    @include media ('<=phone') {
        width: 90vw;
    }
}

.portfolio-title {
    position: relative;
    left: 16px;

    font-size: 80px;
    font-weight: bold;

    text-align: center;
    letter-spacing: 41px;
    text-transform: uppercase;

    color: $color_purple;

    @include media ('<=phone') {
        width: 96%;

        font-size: 47px;

        letter-spacing: 19px;
    }
}

.portfolio-subtitle {
    margin-top: 15px;

    font-size: 20px;
    font-weight: lighter;

    text-align: center;
    letter-spacing: -1px;

    color: $color_white;
}
